/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
@font-face {
  font-family: "Catull Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Catull Regular"), url("./assets/Catull.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 25px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  background-image: url("./assets/Phase 03.jpg");
  background-position: center;
  background-size: 100%;
  border: 5px solid white;
  box-shadow: 0 0 20px #AAA;
  height: 90vh;
  aspect-ratio: 9/16;
  min-height: 750px;
  overflow: hidden;
}
.container__actionBar {
  background-color: rgb(0, 0, 0);
  color: rgb(51, 181, 229);
  height: 50px;
  position: relative;
  z-index: 50;
}
.container__actionBar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}
.container__actionBar ul li {
  line-height: 75%;
  margin-left: 5px;
}
.container__actionBar ul li.off {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: opacity 0.5s ease-in-out;
}
.container__actionBar ul li.on {
  opacity: 1;
  visibility: visible;
  width: auto;
  transition: opacity 0.5s ease-in-out;
}
.container__actionBar ul img {
  filter: invert(1);
}
.container__actionBar__settings {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3%;
}
.container__actionBar__settings div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 20%;
  padding: 5%;
  margin: 2% 0;
  transition: opacity 0.2s ease-in-out;
}
.container__actionBar__settings div img {
  width: 65%;
  filter: invert(1);
  opacity: 1;
}

.display {
  height: calc(100% - 95px - 50px);
}
.display__home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 95%;
  padding-top: 5%;
}
.display__home .search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  padding: 10px 20px;
  height: 55px;
  width: 85%;
  color: white;
}
.display__home .search input {
  all: unset;
  width: 80%;
  height: 100%;
  padding-top: 2%;
}
.display__home .search input::placeholder {
  height: 100%;
  font-family: "Catull Regular";
  font-size: 40px;
  color: white;
  opacity: 0.8;
}
.display__home .search button {
  all: unset;
}
.display__home .search img {
  height: 35px;
  filter: invert(1);
}
.display__home .dock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-top: 4px solid rgba(255, 255, 255, 0.4);
  height: 100px;
  width: 95%;
  margin: 0 auto;
}
.display__home .dock img {
  height: 80px;
  filter: drop-shadow(3px 3px 5px #222);
  transition: all 0.2s ease-in-out;
}
.display__home .dock img:hover {
  filter: drop-shadow(3px 3px 5px #333);
  transform: translate(0, -2px);
  transition: all 0.25s ease-in-out;
}
.display #dailerModal {
  background-color: #FFF;
  position: relative;
  height: 100%;
  overflow-y: hidden;
  padding-top: 2%;
}
.display #dailerModal__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  gap: 20px;
  overflow-y: scroll;
}
.display #dailerModal__content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.display #dailerModal__content .contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  width: 45%;
  aspect-ratio: 3/2;
  padding: 3% 1% 1% 1%;
  transition: opacity 0.4s ease-in-out;
}
.display #dailerModal__content .contact__name {
  padding-top: 2%;
  padding-left: 2%;
}
.display #dailerModal__content .contact__name h4 {
  font-size: 27px;
  font-weight: normal;
}
.display #dailerModal__content .contact__name p {
  font-size: 20px;
}
.display #dailerModal__content .contact .profile {
  font-size: 80px;
  margin: 5% 0;
}
.display #dailerModal__content .contact img {
  width: 30%;
}
.display #dailerModal__content .contact img.invert {
  filter: invert(1);
}
.display #dailerModal__content .contact__name {
  width: 100%;
}
.display #dailerModal__content .contact:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.display #dailerModal__content .contact:nth-of-type(1) {
  background-color: rgb(51, 181, 229);
}
.display #dailerModal__content .contact:nth-of-type(2) {
  background-color: rgb(31, 54, 61);
}
.display #dailerModal__content .contact:nth-of-type(3) {
  background: url("./assets/p2.png");
}
.display #dailerModal__content .contact:nth-of-type(5) {
  background-color: rgb(241, 153, 83);
}
.display #dailerModal__content .contact:nth-of-type(4) {
  background-color: rgb(207, 224, 195);
}
.display #dailerModal__content .contact:nth-of-type(6) {
  background: url("./assets/p4.png");
}
.display #dailerModal__content .contact:nth-of-type(7) {
  background-color: rgb(158, 193, 163);
}
.display #dailerModal__content .contact:nth-of-type(8) {
  background: url("./assets/p3.png");
}
.display .messageModal {
  background: #F8F8F8;
  height: 100%;
}
.display .messageModal__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.display .messageModal__content__messages {
  box-shadow: 0 0 10px #EEE;
  background-color: #FFF;
  width: 85%;
  padding: 3%;
  margin-top: 5%;
}
.display .messageModal__content__messages h2 {
  width: 100%;
  font-weight: normal;
  font-size: 25px;
}
.display .messageModal__content__messages h2::after {
  content: attr(data-time);
  position: relative;
  left: 55%;
}
.display .messageModal__content__messages h3 {
  font-size: 20px;
  margin: 2% 0;
  text-transform: uppercase;
}
.display .messageModal__content__messages p {
  color: #777;
}
.display .messageModal__content__messages:hover {
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}
.display .messageModal__content__send {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 60px;
  z-index: 40;
}
.display .messageModal__content__send h2 {
  font-weight: bold;
  margin-bottom: 3%;
  width: 100%;
}
.display .messageModal__content__send input {
  width: 80%;
}
.display #ytModal {
  background-color: #F8F8F8;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.display #ytModal::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
.display #ytModal .card {
  margin-top: 3%;
  box-shadow: 0 0 10px #EEE;
  width: 90%;
  background-color: #FFF;
  padding: 15px;
}
.display #ytModal__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.display #ytModal__content__video {
  margin-top: 2%;
  width: 100%;
  aspect-ratio: 3/2;
}
.display #ytModal__content__title h2 {
  font-weight: normal;
  padding: 10px;
}
.display #ytModal__content__title span {
  color: #AAA;
  font-size: 17px;
  padding: 10px;
}
.display #ytModal__content__title .votes {
  margin-top: 2%;
  padding: 2% 0;
  border-top: 2px solid #EEE;
}
.display #ytModal__content__title .votes img {
  height: 20px;
  opacity: 70%;
}
.display #ytModal__content__title .votes img:nth-of-type(2) {
  transform: rotate(180deg);
}
.display #ytModal__content__subs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.display #ytModal__content__subs img {
  width: 10%;
  margin-right: 2%;
}
.display #ytModal__content__subs p {
  width: 80%;
}
.display #ytModal__content__subs p span {
  color: #AAA;
  font-size: 19px;
}
.display #ytModal__content__subs button {
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  width: 30%;
}
.display #ytModal__content__others {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.display #ytModal__content__others h2 {
  border-bottom: 2px solid #EEE;
  width: 100%;
  margin-bottom: 2%;
  font-weight: normal;
  padding: 1%;
  text-transform: uppercase;
}
.display #ytModal__content__others img {
  width: 30%;
}
.display #ytModal__content__others h3 {
  width: 65%;
  font-weight: normal;
  font-size: 20px;
}
.display #ytModal__content__others h3 span {
  font-size: 19px;
  color: #AAA;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 95px;
  z-index: 30;
}
.navigation img {
  height: 75%;
}

.hidden {
  display: none;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
