
$action-b-height: 50px;
$nav-height: 95px;
$ui-color: #33B5E5;

@font-face {
  font-family: 'Catull Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Catull Regular'), url('./assets/Catull.woff') format('woff');
  }


  @font-face {
    font-family: 'android-icons';
    src: url('../font/android-icons.eot?56898335'),
         url('../font/android-icons.woff?56898335') format('woff');
    font-weight: normal;
    font-style: normal;
  }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 25px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.container {
  background-image: url("./assets/Phase\ 03.jpg");
  background-position: center;
  background-size: 100%;
  border: 5px solid white;
  box-shadow: 0 0 20px #AAA;
  height: 90vh; // 1280px
  aspect-ratio: 9 / 16 ;
  min-height: 750px;
  overflow: hidden;

  &__actionBar {
    background-color: rgba(0,0,0,1);
    color: $ui-color;
    height: 50px;
  
    & ul {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      height: 100%;
      margin-right: 10px;
  
        & li {
          line-height: 75%;
          margin-left: 5px;
        }
  
        & img {
          filter: invert(100%);
        }
    }
  }
}



.display {
  height: calc(100% - 95px - 50px);

  &__home {
    //background-color: rgba(orange, .9);
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

    & .search {
      background-color: rgba( 255, 255, 255, .4);
      border-radius: 7px;
      padding: 10px 20px;
      height: 55px;
      width: 85%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & input {
        all: unset;
        width: 80%;
        height: 100%;
        padding-top: 2%; 

        &::placeholder {
          height: 100%;
          font-family: 'Catull Regular';  
          font-size: 40px;
          color: white;
          opacity: .8;
        }
      }

      & button {
        all: unset;
      }
  
      & img {
        height: 35px;
        filter: invert(1); // if there's time recolor in PS instead
      }
    }
  
    & .dock {
      border-top: 4px solid rgba(255, 255, 255, 0.4);
      height: 100px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      & img {
        height: 80px;
        

        &:hover {
          filter: drop-shadow(3px 3px 5px #666666);
          transform: translate(0, -2px);
          transition: all .25s ease-in-out;
        }
      }
    }
  }

  & #dailerModal {
    background-color: #FFF;
    position: relative;
    height: 100%;
    overflow-y: hidden;

    &__content {
      padding-top: 2%;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }

      & .contact {
        color: white;
        background-color: orange;
        width: 45%;
        aspect-ratio: 3 / 2 ;
        padding: 1%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        
        & .profile {
          margin: 5% 0;
        }

        & img.invert {
          filter: invert(1);
          width: 50%;
        }

        &__name {
          width: 100%;

        }
      }
    }
  }

  & #ytModal {
    background-color: #F8F8F8;
    position: relative;
    height: 100%;
    z-index: 100;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__video {
        margin-top: 2%;
        width: 100%;
        aspect-ratio: 3 / 2;
      }

      &__title {
        margin-top: 2%;
        box-shadow: 0 0 10px #EEE;
        padding: 10px;
        width: 92%;
        background-color: #FFF;

        & h2 {
          font-weight: normal;
          padding: 10px;
        }

        & p {
          border-bottom: 2px solid #EEE;
          color: #AAA;
          font-size: 17px;
          padding: 10px;
        }
      }
    }
  }
}

.navigation {
  background-color: rgba(0,0,0, .7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;

  & img {
    height: 75%;
  }
}

.hidden {
  display: none;
}

