@font-face {
  font-family: "Catull Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Catull Regular"), url("./assets/Catull.woff") format("woff");
}
@font-face {
  font-family: "android-icons";
  src: url("../font/android-icons.eot?56898335"), url("../font/android-icons.woff?56898335") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 25px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  background-image: url("./assets/Phase 03.jpg");
  background-position: center;
  background-size: 100%;
  border: 5px solid white;
  box-shadow: 0 0 20px #AAA;
  height: 90vh;
  aspect-ratio: 9/16;
  min-height: 750px;
}
.container__actionBar {
  background-color: rgb(0, 0, 0);
  color: #33B5E5;
  height: 50px;
}
.container__actionBar ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}
.container__actionBar ul li {
  line-height: 75%;
  margin-left: 5px;
}
.container__actionBar ul img {
  filter: invert(100%);
}

.display {
  height: calc(100% - 95px - 50px);
}
.display__home {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}
.display__home .search {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px 20px;
  height: 55px;
  width: 85%;
  font-family: "Catull Regular";
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display__home .search img {
  height: 35px;
  filter: invert(1);
}
.display__home .dock {
  border-top: 4px solid rgba(255, 255, 255, 0.4);
  height: 100px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.display__home .dock img {
  height: 80px;
}
.display #dailerModal {
  background-color: #FFF;
  position: relative;
  height: 100%;
}
.display #dailerModal__content {
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
}
.display #dailerModal__content .contact {
  color: white;
  background-color: orange;
  width: 45%;
  aspect-ratio: 3/2;
  padding: 1%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.display #dailerModal__content .contact .profile {
  margin: 5% 0;
}
.display #dailerModal__content .contact img.invert {
  filter: invert(1);
  width: 50%;
}
.display #dailerModal__content .contact__name {
  width: 100%;
}
.display #ytModal {
  background-color: #F8F8F8;
  position: relative;
  height: 100%;
  z-index: 100;
}
.display #ytModal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display #ytModal__content__video {
  margin-top: 2%;
  width: 100%;
  aspect-ratio: 3/2;
}
.display #ytModal__content__title {
  margin-top: 2%;
  box-shadow: 0 0 10px #EEE;
  padding: 10px;
  width: 92%;
  background-color: #FFF;
}
.display #ytModal__content__title h2 {
  font-weight: normal;
  padding: 10px;
}
.display #ytModal__content__title p {
  border-bottom: 2px solid #EEE;
  color: #AAA;
  font-size: 17px;
  padding: 10px;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;
}
.navigation img {
  height: 75%;
}

.hidden {
  display: none;
}

#extra {
  background: #DDD;
  color: #111;
  position: fixed;
  padding: 10px;
  left: 3%;
  bottom: 3%;
}
#extra li {
  font-size: 20px;
}
